body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #252830;
}

.groupTitle {
  font-size: 30px;
  text-align: center;
  color: white;
  margin: auto;
  width: 95%;
  border-radius: 10px;
  font-family: 'Titillium Web';
}

#avengersTitle {
  background-color: #D73C2C;
}

#gotgTitle {
  background-color: #F9B32F;
}

#villainsTitle {
  background-color: #3E005D;
}

#avengersContainer, #gotgContainer, #villainsContainer {
  display: grid;
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 1fr;
}


.heroBackgroundImage {
  background-position: center;
}
}


#avengers {
  padding-top: 20px;
  padding-bottom: 20px;
}

.heroTitle {
  font-family: 'Roboto';
  letter-spacing: 2px;
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.3em;
}

#avengersContainer .heroTitle {
  background-color: #0067B0;
}

#gotgContainer .heroTitle {
  background-color: #BA0087;
}

#villainsContainer .heroTitle {
  background-color: #9A0038;
}

.heroBanner {
  margin: auto;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.heroBackgroundImage {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease-in;
  cursor: pointer;
  box-shadow: inset 0 0 50px black;

}

.heroBackgroundImage:hover {
  /* background-size: 110%; */

  border-radius: 0px 0px 25px 25px;
  box-shadow: inset 0 0 100px black;
}

@media only screen  and (max-width : 1450px) {
#avengersContainer, #gotgContainer, #villainsContainer {
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  grid-gap: 0px;
}

.heroBanner {
  width: 300px;
}

.heroBackgroundImage {
  height: 300px;
}

.groupTitle {
  width: 85%;
}

}

@media only screen  and (max-width : 1150px) {
#avengersContainer, #gotgContainer, #villainsContainer {
  grid-template-columns: 1fr 1fr;
}
}

@media only screen  and (max-width : 900px) {
#avengersContainer, #gotgContainer, #villainsContainer {
  grid-template-columns: 1fr;
}
